{% extends 'home.html' %}

{% block child_content %}
{% if f is false %}
  {{ stf_login.STAFFID }}
{% elif f is true and w_usr %}
  <h4>社員氏名：{{ w_usr.LNAME }} {{ w_usr.FNAME }}</h4>
{% endif %}

<form method="post" action="/regist" class="approval">
  <div style="display: none;"><input type="text" name="stuff-id" value="{{ w_usr.STAFFID }}"></div>
  <div class="w-25">
    申請内容：<input type="text" name="content" value="{{ one_data[0] }}">
  </div>
  <div>対象日：<input type="date" name="start-day" value="{{ one_data[1] }}">〜</div>
  <div>対象終了日：<input type="date" name="end-day" value="{{ one_data[2] }}"></div>
  <div>開始時刻：<input type="time" name="start-time" value="{{ one_data[3] }}">〜</div>
  <div>終了時刻：<input type="time" name="end-time" value="{{ one_data[4] }}"></div>
  <div class="remark">備考：<textarea name="remark" value="{{ one_data[5] }}" class="remark"></textarea></div>
    <!-- one_data[6]status(申請状態) -->
    {% if f is true and one_data[6] %}
      <p></p>
    {% elif f is false and one_data[6] %}
      <p class="status">{{ one_data[6] }}</p>
    {% elif f is false %}
      <button type="submit" class="btn btn-ask">申請依頼</button>
    {% endif %}
</form>

<!-- one_data[7]id(NotificationListの)) -->
{% if f is true and one_data[7] %}
  <form method="post">
    <p>申請者へコメント</p>
    <textarea name="comment" value=""></textarea>
    <button type="submit" formaction="{{ url_for('change_status_ok', id=one_data[7], STAFFID=w_usr.STAFFID) }}" class="btn">承認</button>
    <button type="submit" formaction="{{ url_for('change_status_ng', id=one_data[7], STAFFID=w_usr.STAFFID) }}" class="btn">拒否</button>
  </form>
{% else %}
  <p></p>
{% endif %}

<input type="button" value="戻る" id="btnBack">
<script>
  let btnBack = document.getElementById('btnBack');
  btnBack.addEventListener('click', function(){
      history.back();
  });
</script>
<script>
  /*
   取得urlによってフォームを入力不可にする
  */
  const r = /\d+$/;
  console.log(r.test(location.pathname));
  if(r.test(location.pathname)){
    const currentForm = document.getElementsByClassName('approval')[0];
    // console.log(currentForm);
    // const childElements = currentForm.children;
    // forEach, mapはダメだった
    for(let i = 0; i <= 5; i++){
      currentForm[i].disabled = true;
    };
  }
</script>
{% endblock %}