alembic
bcrypt
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
dominate
exceptiongroup
Flask
Flask-Bcrypt
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
iniconfig
itsdangerous
Jinja2
jpholiday
Mako
MarkupSafe
MonthDelta
numpy
packaging
pluggy
pycparser
PyMySQL
pytest
python-dateutil
python-dotenv
requests
six
SkPy
soupsieve
SQLAlchemy
tomli
typing_extensions
urllib3 # 1.26.6
visitor
Werkzeug
WTForms
wtforms-html5
