{% extends 'home.html' %}

{% block child_content %}
<h2>ユーザデータ作成</h2>
<br>
<div class="text-center">
    <a href="{{url_for('home_admin')}}" class="btn btn-success">管理者ホームに戻る</a>　　　
    <a href="{{ url_for('users_nenkyu') }}" class="btn btn-success">ユーザ年休検索画面に戻る</a>
</div>
<hr />
<div class="disp">
  <div class="container base-w">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
  </div>
</div>
<div class="row">
  <div class="col-md-4 center-block">
    <div class="form-group">
      <form method="POST" action="{{ url_for('add_data_user', STAFFID=STAFFID) }}">
        {{ form.csrf_token }}

        {{ wtf.form_field(form.department) }}                
        <br>
        {{ wtf.form_field(form.team) }}
        <br>
        {{ wtf.form_field(form.contract) }}               
        <br>
        {{ wtf.form_field(form.jobtype) }}               
        <br>
        {{ wtf.form_field(form.post_code) }}              
        <br>
        {{ wtf.form_field(form.lname) }}
        <br>
        {{ wtf.form_field(form.fname) }}
        <br>
        {{ wtf.form_field(form.lkana) }}
        <br>
        {{ wtf.form_field(form.fkana) }}
        <br>
        {{ wtf.form_field(form.post) }}
        <br>
        {{ wtf.form_field(form.adress1) }}
        <br>
        {{ wtf.form_field(form.adress2) }}
        <br>
        {{ wtf.form_field(form.tel1) }}
        <br>
        {{ wtf.form_field(form.tel2) }}
        <br>
        {{ wtf.form_field(form.inday) }}
        <br>
        {{ wtf.form_field(form.worker_time) }}        
        <br>
        {{ wtf.form_field(form.basetime_paidholiday) }}
        <br>
        {{ wtf.form_field(form.social) }}
        <br>
        {{ wtf.form_field(form.employee) }}        
        <br>
        {{ wtf.form_field(form.remark) }}        
        <hr>
        {{ wtf.form_field(form.m_a) }}
        <br>
        {{ wtf.form_field(form.ml_p) }}
        <br>
        {{ wtf.form_field(form.ms_p) }}
        <br>
        {{ wtf.form_field(form.p_p) }}
        <br>
        {{ wtf.form_field(form.k_p) }}
        <br>
        {{ wtf.form_field(form.z_p) }}
        <br>        
        <button type="submit" class="btn btn-warning">　　登　　録　　</button>
      </form>   
      <br><br><br><br><br>
    </div>
  </div>
</div>
{% endblock %}