{% extends 'home.html' %}

{% block child_content %}
<h3>ユーザ年休詳細画面</h3>
<br/>

<h4 class="text-center">職員番号：{{ user.STAFFID }}　氏名： {{ user.LNAME }} {{ user.FNAME }}　　
    対象期間：{{ rp_holiday.LAST_DATEGRANT.strftime('%Y-%m-%d') }} ～ {{ next_datagrant.strftime('%Y-%m-%d')  }}</h4>

<div class="container-fluid">
    <div class="d-flex m-3 d-flex justify-content-around">

        <div class="p-2 w-25 d-md-flex">
            <table class="table table-hover">
                <tr>
                    <td>前回繰越日数</td>
                    <td>{{ rp_holiday.LAST_CARRIEDOVER }}</td>
                </tr>
                <tr>
                    <td>今回付与日数</td>
                    <td>{{ aquisition_days }}</td>
                </tr>
                <tr>
                    <td>今回利用可能日数</td>
                    <td>{{ enable_days }}</td>
                </tr>
            </table>
        </div>   
        
        <div class="p-2 w-50 d-md-flex">
            <table class="table table-hover">
                <tr>
                    <td>年間年休使用日数</td>
                    <td>{{ rp_holiday.USED_PAIDHOLIDAY }}</td>
                </tr>
                <tr>
                    <td>年間年休残日数</td>
                    <td>{{ rp_holiday.REMAIN_PAIDHOLIDAY }}</td>
                </tr>                
            </table>
        </div>
    </div>

</div>

<div class="text-center">
    <a href="{{ url_for('users_nenkyu') }}" class="btn btn-primary">戻　る</a>
</div>
<br><br><br><br>

<div class="col-12 center-block">
    <div>
        <a href="javascript:void(0)" onclick="onCSVDownload(this, document.querySelector('#fav-table-1'), '勤務日数_{{ user.LNAME }} {{ user.FNAME }}.csv');" type="button" class="btn btn-warning">CSVダウンロード</a>　２６日開始基準
        <table id="fav-table-1" class="table table-striped table-hover">
            <thead>
                <tr class="st3 text-center">
                    <th>４月勤務日数（内休出）</th>
                    <th>５月勤務日数（内休出）</th>
                    <th>６月勤務日数（内休出）</th>                    
                    <th>７月勤務日数（内休出）</th>
                    <th>８月勤務日数（内休出）</th> 
                    <th>９月勤務日数（内休出）</th>
                    <th>１０月勤務日数（内休出）</th> 
                    <th>１１月勤務日数（内休出）</th>
                    <th>１２月勤務日数（内休出）</th>
                    <th>１月勤務日数（内休出）</th>
                    <th>２月勤務日数（内休出）</th>
                    <th>３月勤務日数（内休出）</th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ cnt_attendance.MONTH_4 }}（{{ cnt_attendance.MONTH_HOLIDAY_4 }}）</td>
                    <td>{{ cnt_attendance.MONTH_5 }}（{{ cnt_attendance.MONTH_HOLIDAY_5 }}）</td>
                    <td>{{ cnt_attendance.MONTH_6 }}（{{ cnt_attendance.MONTH_HOLIDAY_6 }}）</td>
                    <td>{{ cnt_attendance.MONTH_7 }}（{{ cnt_attendance.MONTH_HOLIDAY_7 }}）</td>
                    <td>{{ cnt_attendance.MONTH_8 }}（{{ cnt_attendance.MONTH_HOLIDAY_8 }}）</td>
                    <td>{{ cnt_attendance.MONTH_9 }}（{{ cnt_attendance.MONTH_HOLIDAY_9 }}）</td>
                    <td>{{ cnt_attendance.MONTH_10 }}（{{ cnt_attendance.MONTH_HOLIDAY_10 }}）</td>
                    <td>{{ cnt_attendance.MONTH_11 }}（{{ cnt_attendance.MONTH_HOLIDAY_11 }}）</td>
                    <td>{{ cnt_attendance.MONTH_12 }}（{{ cnt_attendance.MONTH_HOLIDAY_12 }}）</td>
                    <td>{{ cnt_attendance.MONTH_1 }}（{{ cnt_attendance.MONTH_HOLIDAY_1 }}）</td>
                    <td>{{ cnt_attendance.MONTH_2 }}（{{ cnt_attendance.MONTH_HOLIDAY_2 }}）</td>
                    <td>{{ cnt_attendance.MONTH_3 }}（{{ cnt_attendance.MONTH_HOLIDAY_3 }}）</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<br><br><br><br>

<div class="col-12 center-block">
    <div>
        <a href="javascript:void(0)" onclick="onCSVDownload(this, document.querySelector('#fav-table-2'), '勤務時間_{{ user.LNAME }} {{ user.FNAME }}.csv');" type="button" class="btn btn-warning">CSVダウンロード</a>　２６日開始基準
        <table id="fav-table-2" class="table table-striped table-hover">
            <thead>
                <tr class="st3 text-center">
                    <th>４月勤務時間（内休出）</th>
                    <th>５月勤務時間（内休出）</th>
                    <th>６月勤務時間（内休出）</th>                    
                    <th>７月勤務時間（内休出）</th>
                    <th>８月勤務時間（内休出）</th> 
                    <th>９月勤務時間（内休出）</th>
                    <th>１０勤務時間（内休出）</th> 
                    <th>１１勤務時間（内休出）</th>
                    <th>１２勤務時間（内休出）</th>
                    <th>１月勤務時間（内休出）</th>
                    <th>２月勤務時間（内休出）</th>
                    <th>３月勤務時間（内休出）</th> 
                </tr>               
            </thead>
            <tbody>
                <tr>
                    <td>{{ tm_attendance.TIME_4 }}（{{ tm_attendance.TIME_HOLIDAY_4 }}）</td>
                    <td>{{ tm_attendance.TIME_5 }}（{{ tm_attendance.TIME_HOLIDAY_5 }}）</td>
                    <td>{{ tm_attendance.TIME_6 }}（{{ tm_attendance.TIME_HOLIDAY_6 }}）</td>
                    <td>{{ tm_attendance.TIME_7 }}（{{ tm_attendance.TIME_HOLIDAY_7 }}）</td>
                    <td>{{ tm_attendance.TIME_8 }}（{{ tm_attendance.TIME_HOLIDAY_8 }}）</td>
                    <td>{{ tm_attendance.TIME_9 }}（{{ tm_attendance.TIME_HOLIDAY_9 }}）</td>
                    <td>{{ tm_attendance.TIME_10 }}（{{ tm_attendance.TIME_HOLIDAY_10 }}）</td>
                    <td>{{ tm_attendance.TIME_11 }}（{{ tm_attendance.TIME_HOLIDAY_11 }}）</td>
                    <td>{{ tm_attendance.TIME_12 }}（{{ tm_attendance.TIME_HOLIDAY_12 }}）</td>
                    <td>{{ tm_attendance.TIME_1 }}（{{ tm_attendance.TIME_HOLIDAY_1 }}）</td>
                    <td>{{ tm_attendance.TIME_2 }}（{{ tm_attendance.TIME_HOLIDAY_2 }}）</td>
                    <td>{{ tm_attendance.TIME_3 }}（{{ tm_attendance.TIME_HOLIDAY_3 }}）</td>
                </tr>              
            </tbody>
        </table>
    </div>

</div>

<br><br><br><br>

<div id="adm-tbl" class="col-10 center-block">
    <div class="sort-table">
        <a href="javascript:void(0)" onclick="onCSVDownload(this, document.querySelector('#fav-table'), '年休詳細_{{ user.LNAME }} {{ user.FNAME }}.csv');" type="button" class="btn btn-warning">CSVダウンロード</a>
        <table id="fav-table" class="table table-striped table-hover">
            <thead>
                <tr class="st3 text-center">
                    <th>年休使用日</th>
                    <th>年休種類</th>
                </tr>
            </thead>
            <tbody>
                {% for nenkyu_all in nenkyu_all_days %}
                <tr>
                    <td>{{ nenkyu_all }}</td>
                    <td>全日</td>
                </tr>
                {% endfor %}
                {% for nenkyu_half in nenkyu_half_days %}
                <tr>
                    <td>{{ nenkyu_half }}</td>
                    <td>半日</td>
                </tr>
                {% endfor %}
                 {% for seiri in seiri_days %}
                <tr>
                    <td>{{ seiri }}</td>
                    <td>半日（生理休暇）</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>

    <div class="h1">
        <br><br><br><br><br>
        <br><br><br><br><br>
    </div>       

<div>
{% endblock %}